<?xml version="1.0"?>
<!--
/**
 * @author Conformal Systems LLC.
 * @copyright Copyright (c) 2014 Conformal Systems LLC. <support@conformal.com>
 * @license
 * Copyright (c) Conformal Systems LLC. <support@conformal.com>
 *
 * Permission to use, copy, modify, and distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */
-->

<config>
  <modules>
    <Conformal_Coinvoice>
      <version>0.1.0</version>
    </Conformal_Coinvoice>
  </modules>
  <global>
    <models>
      <coinvoice>
        <class>Conformal_Coinvoice_Model</class>
      </coinvoice>
    </models>
    <helpers>
      <coinvoice>
        <class>Conformal_Coinvoice_Helper</class>
      </coinvoice>
    </helpers>
    <blocks>
      <coinvoice>
        <class>Conformal_Coinvoice_Block</class>
      </coinvoice>
    </blocks>
  </global>
  <default>
    <payment>
      <coinvoice>
        <model>coinvoice/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Coinvoice</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </coinvoice>
    </payment>
  </default>
  <frontend>
    <routers>
      <coinvoice>
        <use>standard</use>
        <args>
          <module>Conformal_Coinvoice</module>
          <frontName>coinvoice</frontName>
        </args>
      </coinvoice>
    </routers>
  </frontend>
</config>
